<div class="form myform" [ngClass]="formStatus">
  <h1>Reactive forms</h1>
  <form action="" [formGroup]="reactiveForms"(ngSubmit)="onSubmit()" >

    <div formGroupName="personalDetails">

      <label for="firstName"></label>Enter your name
      <input type="text" formControlName="firstName" id="firstName" value="" placeholder="Your name"><br><br>
       
        <div>
          <small style="color: red;" *ngIf="reactiveForms.get('personalDetails.firstName').errors?.['required']" ><sup>*</sup>First name is the required field.</small>
          <small style="color: red;" *ngIf="reactiveForms.get('personalDetails.firstName').errors?.['noSpace']" ><sup>*</sup>First name is the cannot contain space field.</small>
        </div>


      <label for="age"></label>Enter your age
      <input type="text"  formControlName="age" id="age" value="" placeholder="Your age"><br><br>
  
      <label for="email"></label>Enter your email
      <input type="email"  formControlName="email" id="email" placeholder="Your email"><br>
  
       <div>
        <small style="color: red;" *ngIf="! reactiveForms.get('personalDetails.email').valid && reactiveForms.get('personalDetails.email').touched">Email is not valid</small><br>
       </div>
    </div>
  
    <label for="gender"></label>Gender
    <input type="radio"  formControlName="gender" value="Male">Male
    
    <input type="radio"  formControlName="gender" value="Female">Female
    <input type="radio"  formControlName="gender" value="Others">Others
    <br><br>
    <label for="city"></label>Select your city
    <select  formControlName="city" id="city">
      <option value=""><Select></Select></option>
      <option value="Chennai">Chennai</option>
      <option value="Trichy">Trichy</option>
      <option value="Salem">Salem</option>
      <option value="Ariyalur">Ariyalur</option>
    </select>
<br><br>
<!-- formArray -->
<div formArrayName="skills" class="formArray">
  <label for="skills">Skills</label><br>
  <ng-container *ngFor="let skill of reactiveForms.get('skills')['controls'];index as i">
    <input type="text" name="" id="" placeholder="Add your skill" formControlName={{i}}><br>
  </ng-container>
  <button (click)="addSkills()">Add Skills</button>
  <!-- end of formArray -->
 
</div>
<br><br>
    <input type="submit" name="" id="submit" value="Submit">

  </form>
</div>